@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: black;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    border: 0px solid black;
}

.col-6 {
    width: 49%;
    position: relative;
    display: inline-block;
}
    

.col-4 {
    width: 32%;
    align-items: center;
    display: inline-block;
}

.col-3 {
    width: 24%;
}

/* Headings and Logo */

h1, h2 {
    font-family: Newsreader, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkgreen;
}

#logo {
    float: left;
    font-size: xx-large;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
    




/* Navigation links */

#menu {
    font-size: large;
    letter-spacing: 2px;
    text-align: right;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    list-style-type: none;
    margin: 15px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* Hero Image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg');
}

/* animates zoom affect on loading page */
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

/* creates level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
    
}

/* Uni essentials */

#uni-essentials {
    height: 500px;
}

#left-about {
    padding-top: 30px;
    width: 90%;
    margin-left: 10%;
}

#right-about {
    padding-top: 30px;
    width: 90%;
}

#center-about {
    width: 100%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    line-height: 20px;
    margin-bottom: 50px;
}

.right-about-heading {
    line-height: 20px;
    margin-bottom: 50px;
}

.right-about-heading h3 {
    text-align: left;
}

#welcome {
    text-align: center;
    font-size: x-large;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-left: -20px;
}

#circle-container {
    width: 350px;
    height: 350px;
    border-style: solid;
    border-color: darkgreen;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

#circle-cover-bg {
    background: url('../images/uni-essentials-center-image.jpg');
    height: 100%;
    border-radius: 50%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}


/* footer */

footer {
    position: static;
    width: 100%;
    background-color: darkgreen;
    height: 120px;
    margin-top: 50px;
}

.footer-holder {
    padding-top: 25px;
}

.social-networks {
    text-align: center;
}

.social-networks i {
    font-size: x-large;
    color: whitesmoke;
}

.copyright h3 {
    color: whitesmoke;
    margin-top: 30px;
    text-align: right;
    width: 100%;
    font-size: medium;
    margin-right: 10px;
}

/* Media Queries */

@media only screen and (max-width: 700px) {
    .col-6 {
        width: 100%;
        float: left;
      }
  } 