@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: black;
}


h1, h2 {
    font-family: Newsreader, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkgreen;
}

#logo {
    text-align: center;
    font-size: xx-large;
    padding-top: 20px;
}
a.home{
    text-decoration: none;
    width: 100%;
    display: block;
}

/* Navigation links */

#menu {
    font-size: large;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

#menu, #logo {
    line-height: 30px;
}

#menu li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    width: 31%;
    padding-top: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

@media only screen and (min-width: 412px) and (max-width: 768px){
  #menu {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 769px){
  #menu {
    width: 60%;
    margin-left: 20%;
  }
}

/**** Hero Image ****/
.hero-image{
    width: 100%;
    position: relative;
    height: 200px;
    background-image: url('../images/hero-image.jpg');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-text{
    width: 200px;
    float: right;
    height: auto;
    margin-top: 30px;
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    margin-right: 5%;
    text-align: center;
    font-size: medium;
    
}

.image-text h4, .image-text p{
    padding-top: 10px;
}


.image-text p{
     font-size: small;
     margin-bottom: 12px;
}

@media only screen and (min-width: 376px){
  .hero-image {
    background-size: cover;
    height: 300px;
  }
  .image-text{
      margin-top: 30px;
      width: 30%;
      font-size: large;
  }
  .image-text p{
      font-size: medium;
  }
}

/**** Where to start ******/

.start-text-holder{
    width: 100%;
    position: relative;
    margin-top: 10px;
    display: block;
}
.start-text{
    width: 80%;
    position: relative;
    margin-left: 10%;
    text-align: center;
    padding-bottom: 50px;
}
.start-text p, .start-text h3 {
    padding-top: 12px;
    text-align: left;
    padding-left: 15%;
    width: 70%;
}

@media only screen and (min-width: 376px){
    .start-text{
        width: 28%;
        margin-left: 2%;
        display: inline-grid;
        margin-top: 50px;
    }
    .start-text p, .start-text h3 {
        width: 85%;
    }
}

/*** Footer ***/

.footer-section {
    background-color: darkgreen;
    width: 100%;
    height: auto;
    display: block;
    position: relative; 
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    color: white;
    font-size: xx-large;
    margin: 10px;
    padding: 5px;
}

.copyright {
    font-size: large;
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

@media only screen and (min-width: 1000px) {
    .social-networks i {
        color: white;
        font-size: xxx-large;
        margin: 10px;
        padding: 40px;
    }
  } 

  /***** Tips *****/

.tips-holder{
    width: 100%;
    display: block;
    position: relative;
}

.tips-text{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    position: relative;
}

.tips-text p {
    text-align: center;
    font-size: x-large;
    padding-bottom: 25px;
}

.tips-image{
    width: 90%;
    margin-left: 5%;
    display: block;
    position: relative;
}

.tips-image img{
    width: 100%;
    position: relative;
    margin-right: 5px;
}

.tips-headings {
    text-align: center;
}


@media only screen and (min-width: 1000px){
    .tips-image, .tips-text{
        width: 40%;
        display: inline-block;
        vertical-align: middle;
    }

    .tips-headings {
        text-align: left;
        margin-left: 10px;
    }
}



/** Questions **/

.form-background-image {
    width: 100%;
    position: relative;
    height: 400px;
    background-image: url('../images/student-asking-question.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-main {
    margin: 30px;
    margin-left: 5%;
}

textarea {
    border:#3a3a3a
}